EXPO_PUBLIC_APP_NAME=ArrowVerse-Multiplayer
EXPO_PUBLIC_APP_SLUG=arrowverse-multiplayer
EXPO_PUBLIC_APP_VERSION=0.1.0
EXPO_PUBLIC_APP_SCHEME=arrowversemultiplayer
EXPO_PUBLIC_ENABLE_ANALYTICS=false
EXPO_PUBLIC_ENABLE_HAPTICS=true
EXPO_PUBLIC_ENABLE_SOUND=true